/* *{
	border: 1px dashed red;
	min-height: 10px;
}       
 */


 body {
	font-family: "Roboto", sans-serif;
    background-color:  #0d6efd;
    
}

ul {
	padding: 0;
}

div#container {
    background-color: aqua;
	width: 360px;
	margin: 0 auto;
    border-radius: 20px;
	border: 2px solid skyblue;
	background: #f7f7f7;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


li {
	background: #fff;
	padding-left: 5px;
    border-radius: 20px;
    border: 2px solid skyblue;
	margin-top: 10px;
	display: flex;

}

input#addToDo {
	font-size: 18px;
	color: #2980b9;
	background: #b7eeff;
    border-radius: 20px;
	border: none;
	width: 100%;
	padding: 10px;
}
#add{
    border-radius: 20px;
	color: #2980b9;
	background: #b7eeff;
	border: none;
}

#boton{
    border-radius: 20px;
    font-size: 18px;
	color: #2980b9;
	background: #b7eeff;
	border: none;
	padding: 10px;
}

li p {
	margin: 0;
	padding: 5px;
	width: 80%;
}

.btn-delete {
	margin-left: auto;
	border: none;
	background-color: lightseagreen;
	color: white;
	padding: 5px 10px;
	border-radius: 20px;
}
.btn-delete:hover {
	cursor: pointer;
	background-color: #e31746;
}




